body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #553055;
}

.App {
  background: #4c2a4c;
  margin: 20px auto;
  max-width: 1000px;
  color: #eee;
  display: flex;
  min-height: calc(100vh - 40px);
}

.sidebar {
  width: 400px;
}
.navbar {
  padding: 10px 20px;
  text-align: center;
  background: #6d3d6d;
}
.navbar h1 {
  margin: 10px 0;
}
.navbar .delete-button {
  width: 100%;
}
.comment-list {
  margin: 0 20px;
  width: 100%;
}

.comment-list ul {
  padding: 0px;
  list-style-type: none;
}

.comment-list li {
  background: #6d3d6d;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}

.comment-list.surname {
  font-size: 0.9em;
  color: #ddd;
}
.empty {
  margin: 20px;
  text-align: center;
  width: 100%;
}

form {
  padding: 20px;
}
textarea,
input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #3c1f3c;
  color: #fff;
  border: 0;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}
button[type="submit"] {
  margin: 10px auto;
  background: #eee;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 20px;
  display: flex;
  text-align: center;
  background-color: #259e25;
  color: white;
  font-size: 0.9em;
  outline: none;
  transition: 0.15s;
  opacity: 1;
}
button[type="submit"]:hover {
  opacity: 0.6;
  transition: 0.15s;
}

.avatar-icon {
  border-radius: 50%;
}

.delete-button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #cf3636;
  text-align: center;
  padding-top: 6px;
  outline: none;
  transition: 0.15s;
  opacity: 1;
}
.delete-button:hover {
  transition: 0.15s;
  opacity: 0.6;
  cursor: pointer;
}
input[type="file"] {
  display: inline-block;
  width: 100%;
  padding: 60px 0 0 0;
  height: 60px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png")
    center center no-repeat #e4e4e4;
  border-radius: 5px;
  background-size: 60px 60px;
  cursor: pointer;
}

.preview-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
/* comment form */
.info-container {
  display: flex;
}
.info {
  width: 100%;
  display: flex;
  padding: 0 20px 0 20px;
}
.author,
.comment-time {
  display: flex;
  flex-direction: row;
}
.author {
  font-size: 1.5em;
}
.comment-time {
  margin-left: auto;
}
.author p,
.comment-time p {
  margin: auto;
}
.title {
  border: 1px solid #ac61ac;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 140px);
}
.comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.uploaded-images ul {
  margin-top: 10px;
}
.uploaded-images p {
  margin: 0;
  padding-bottom: 10px;
  margin: 10px;
}
.uploaded-images li {
  margin: 0;
  border-bottom: 1px solid #ac61ac;
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  .App {
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  .author,
  .comment-time {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
  input[type="file"],
  .comment-list {
    width: auto;
  }
  .empty {
    margin: 0;
  }
  .uploaded-images p {
    overflow: hidden;
  }
}
